@import url("https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luxurious+Script&family=Pinyon+Script&display=swap");

:root {
  --var01: rgb(40, 38, 38);
}
body {
  overflow-x: hidden;
  background-color: whitesmoke;
}
::selection {
  background-color: var(--var01);
  color: white;
}

.about {
  justify-content: center;
  text-align: center;
  margin: 10rem 3rem;
  margin-top: 30rem;
}
.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  line-height: 140px;
  margin: 0;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
}

h3 {
  font-family: "Instrument Serif", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 120px;
  line-height: 100px;
  text-align: center;
  color: var(--var01);
  margin-top: 10rem;
  z-index: -50;
  user-select: none;
}

h4 {
  font-family: "Instrument Serif", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 26px;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

/* images */

.draggable-item {
  position: absolute;
  cursor: grab;
}

#item1 {
  position: absolute;
  left: 10%;
  top: 20%;
  z-index: 2;
  rotate: -30deg;
}

#item1:active {
  position: absolute;
  left: 10%;
  top: 20%;
  z-index: 40;
}

#item2 {
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 9;
}

#item2:active {
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 40;
}

#item3 {
  position: absolute;
  left: 2%;
  top: 5%;
  z-index: -1;
}

#item3:hover {
  position: absolute;
  left: 2%;
  top: 5%;
  z-index: 40;
}

/* .hover-item {

} */

#vintageCar {
  position: absolute;
  left: 72%;
  top: 50%;
  z-index: 1;
  transition: ease 0.4s;
}

#vintageCar:hover {
  position: absolute;
  transform: rotate(10deg);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: ease 0.8s;
}
