@import url("https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luxurious+Script&family=Pinyon+Script&display=swap");

:root {
  --var01: rgb(40, 38, 38);
}
body {
  overflow-x: hidden;
}
::selection {
  background-color: var(--var01);
  color: white;
}
.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
}

h3 {
  font-family: "Instrument Serif", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 120px;
  line-height: 100px;
  text-align: center;
  color: var(--var01);
  margin-top: 10rem;
}

h4 {
  font-family: "Instrument Serif", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

/* images */

.draggable-item {
  position: absolute;
}

#item2 {
  position: absolute;
  left: 50%;
}
