@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Jacquarda+Bastarda+9&family=New+Tegomin&family=Nova+Square&family=Scope+One&family=Shizuru&family=Syne+Mono&display=swap");
/* my visual direction for this project is ____*/
:root {
  --color-01: #9fa5c8;
  --color-02: #292645;
  --color-03: #c571c4;
  --color-04: #eff2f4;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  background-color: var(--color-01);
  background-color: var(--color-04);
  background-image: url("assets/bg.png");
  background-repeat: no-repeat; /* Prevents image from repeating */
  background-size: cover; /* Scales image to cover the entire background */
  background-position: center; /* Centers the image */
}

.title {
  margin: 3rem;
  padding-top: 2rem;
  padding-left: 6rem;
}

.synopsis {
  width: 60%;
  display: flex;
  padding-left: 8rem;
  padding-top: 1.5rem;
}

h1 {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9.2rem;
  color: var(--color-02);
  letter-spacing: -5px;
  line-height: 1.2;
}

.h1-big {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
  color: var(--color-03);
  letter-spacing: -5px;
}

h2 {
  font-family: "Scope One", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  color: var(--color-02);
  letter-spacing: 3px;
  line-height: 1.4;
}

nav {
  border: var(--border);
  padding: 1rem;
}

main {
  max-width: 100opx;
  width: 100%;
}

.mediaPlayerSection {
  width: 75%;
  height: 50rem;
  /* position: absolute; */
  margin: 2rem auto;
}

#mediaPlayer {
  max-width: 100%;
}

.mediaPlayerControlContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
  /* gap between elements */
  padding: 0.8rem 2rem;
  background-color: white;
}

#playPauseButton {
  width: 3rem;
  height: 2.8rem;
  padding: 0.8rem;
  background-color: transparent;
  border-width: 1.5px;
}

#playPauseButton:hover {
  background-color: #c571c4;
}

#volumeIcon {
  padding: 0.5rem;
  background: transparent;
  border: none;
}

#fullScreenButton {
  width: 3.2rem;
  height: auto;
  padding: 0.8rem;
  background-color: transparent;
  border-width: 1.5px;
  margin: 1rem;
}

#fullScreenButton:hover {
  background-color: #c571c4;
}

#replayButton {
  width: 3.2rem;
  height: auto;
  padding: 0.8rem;
  background-color: transparent;
  border-width: 1.5px;
}

#replayButton:hover {
  background-color: #c571c4;
}

#timelineProgress {
  /* flex: 1; */
  width: 60%;
  accent-color: #c571c4; /* Sets the accent color to red */
}

.timeContainer {
  padding: 0;
}

#currentTimeFeedback {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #c571c4;
  padding: 1rem;
}

.slidecontainer {
  display: flex;
  top: 10px;
}

/* volume slider*/

.volumeSlider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
#volumeSlider {
  accent-color: #c571c4;
  width: 100%;
}

.volumeSlider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.volumeSlider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.div-deco {
  display: flex;
  position: absolute;
  margin: 0;
  top: 1073px;
  z-index: -1;
  left: -3px;
}

::selection {
  background-color: var(--color-02);
  color: var(--color-04);
}

a {
  color: var(--color-03);
}

footer {
  width: 100%;
  height: 4rem;
  padding: 3rem 10rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: var(--border);
}
